body {
	max-width: 1080px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	gap: 1rem;
	margin: 5rem auto;
}

header {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	grid-column-start: 1;
	grid-column-end: 4;
	gap:1rem;
}

main {
	grid-column-start: 4;
	grid-column-end: 12;
}

a, p {
	font-size: 1rem;
	margin: 0;
	padding:0;
	line-height: 1.5rem;
}

p {
	font-weight: 400;
}

a {
	font-weight: 600;
}



a, p, h1, h2, h3, h4 {
	font-family: "Geist", sans-serif;
}

h1 {
	font-weight: 800;
	font-size: 3.2rem;
	margin: 0;
}

h2, h3, h4 {
	font-weight: 700;
}

:root{
	font-size: 12px;
}